<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".presentation.DetailMovieActivity"
            android:exported="false"
            android:label="@string/title_activity_detail_movie"
            android:theme="@style/Theme.Movie" />
        <activity
            android:name=".presentation.SearchActivity"
            android:exported="false"
            android:label="@string/title_activity_search"
            android:theme="@style/Theme.Movie" />
        <activity
            android:name=".presentation.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Movie">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>